@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap');
* {
    margin: 0;
}

body {
    background-color: white;
}

#card {
    background: #092269 url("src/imgs/background_white.png") no-repeat top left;
    background-size:  100% 100%;
    font-family: 'Arimo', sans-serif;
    color: white;
    height: 600px;
    width: 1250px;
    position: relative;
}

#card > table:nth-of-type(1) {
    position: absolute;
    top: 44%;
    left: 13%;
}

#card > table:nth-of-type(1) > h4 {
    font-size: 21px;
}

#card > table:nth-of-type(1) > h2 {
    margin-top: 7px;
    font-size: 32px;
    font-weight: bolder;
}

#userInfo {
    position: absolute;
    right: 28.5%;
    top: 24%;
}

#userInfo > tr {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

#userInfo > tr:nth-child(1){
    font-size: 25px;
    margin-bottom: 0;
}

#userInfo > tr:nth-child(2){
    font-size: 17px;
    margin-top: 0;
    margin-bottom: 85px;
}

#userInfo > tr:nth-child(3), #userInfo > tr:nth-child(4), #userInfo > tr:nth-child(5), #userInfo > tr:nth-child(6){
    font-size: 23px;
    font-weight: 400;
}

#userInfo > tr > img {
    height:  40px;
    border-radius: 100%;
    margin-right: 15px;
}

#userInfo > tr > h2, #card > table > h4 {
    font-weight: 100;
}

