@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap');
* {
    margin: 0;
}

body {
    background-color: #092269;
    min-width: 100vw;
}

label {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#root{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    height: 100vh;
}

#main-container {
    width: 90vw;
    display: flex;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    align-items: center;
    position: relative;

    border-radius: 1vh;
}

#nav-buttons-container {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 80vh;

    text-align: center;

    display: flex;
    justify-content: center;
}

#nav-buttons-container > ul {
    margin: 0;
    padding: 0;

    display: flex;
    list-style-type: none;

    width: 30%;
    justify-content: space-between;

    background: #F5F5F5;
    padding: 1%;
    border-radius: 5vh;
    border: solid;
}

#nav-buttons-container > ul > li {
    border: solid 1px #0C0C0C; 
    border-radius: 100%;
    
    width: 0.5vw;
    height: 0.5vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-buttons-container > ul > li > a {
    border: solid 1px; 
    border-radius: 100%;
    padding: 0.25vw;
}

.selected {
    background: #0C0C0C;
}

.selected-card {
    background: #092269;
    color: white;
}

.selected-card > label > img, .selected-card > img  {
    filter: invert(1)
}

#card {
    font-family: 'Arimo', sans-serif;
    height: 600px;
    width: 1250px;
    position: absolute;
}

#universityInfo {
    position: absolute;
    top: 44%;
    left: 13%;
}

#universityInfo > tbody > tr > td > h4 {
    font-size: 21px;
}

#universityInfo > tbody > tr > td > h2 {
    margin-top: 7px;
    font-size: 32px;
    font-weight: bolder;
}

#userInfo {
    position: absolute;
    left: 35%;
    top: 24%;
    min-width: 800px;
}

#userInfo > tbody > tr > td {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

#userInfo > tbody > tr:nth-child(1){
    font-size: 25px;
    margin-bottom: 0;
}

#userInfo > tbody > tr:nth-child(2){
    font-size: 17px;
    margin-top: 0;
    margin-bottom: 85px;
}

#userInfo > tbody > tr:nth-child(3), #userInfo > tbody > tr:nth-child(4), #userInfo > tbody > tr:nth-child(5), #userInfo > tbody > tr:nth-child(6){
    font-size: 23px;
    font-weight: 400;
}

#userInfo > tbody > tr > td > img {
    height:  40px;
    border-radius: 100%;
    margin-right: 15px;
}

#userInfo > tbody > tr > td > h2, #universityInfo > tbody > tr > td > h4 {
    font-weight: 100;
}

.off > img {
    filter: opacity(0.1);
    cursor: default;
}